$color-white:#FFFFFF;

$color-background:#DBE3F5;

$color-dark-1:#111111;
$color-dark-2:#626262;

$color-theme:#F4303C;

$color-yellow:#CFA93F;
$color-orange:#FFBE00;
$color-green:#69864D;
$color-russet:#864D7D;

$primary-color: #3498db;
$primary-bg: #DBE3F5;
$background-color: #DBE3F5;
$circle-color: #ffffff;
$outer-circle-size: 140px;
$inner-circle-size: 100px;
$outer-circle-border-width: 4px;
$outer-big-circle-size: 875px;
$inner-big-circle-size: 815px;
$circle-border-width: 4px;
$circle-border-color: #ffffff;