$color-white:#ffffff;

$color-background:#DBE3F5;

$color-dark-1:#111111;
$color-dark-2:#626262;

$color-theme:#F4303C;

$color-yellow:#CFA93F;
$color-orange:#FFBE00;
$color-green:#69864D;
$color-russet:#864D7D;
