
$primary-color: #3498db;
$primary-bg: #DBE3F5;
$background-color: #DBE3F5;
$circle-color: #ffffff;
$outer-circle-size: 140px;
$inner-circle-size: 100px;
$outer-circle-border-width: 4px;
$outer-big-circle-size: 875px;
$inner-big-circle-size: 815px;
$circle-border-width: 4px;
$circle-border-color: #ffffff;

$font-mulish: 'Mulish', sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 800;
$font-size-12: 1rem;
$font-size-14: 1.17rem;
$font-size-16: 1.33rem;
$font-size-18: 1.50rem;
$font-size-24: 2rem;
$font-size-36: 3rem;
$font-size-60: 5rem;
