.confirme {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    .container {
        width: 375px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    
        .logo { 
            align-items: center;
        }

        .image {
            margin-top: 40px;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
        i {
            align-items: center;
            justify-content: center;
            margin:10px;
        }
        .action {
            color: $color-dark-1;
            font-size: 22px;
            text-align: center;
            font-weight: $font-weight-bold;
        }
        .description {
            text-align: center;
            color: $color-dark-1;
            margin-bottom: 40px;
        }
        .primary-btn {
            width: 335px;
        }

    }
}