/*footer */
    
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #080C24;
 
    .menu-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:  155px;

    }


    .menu-link {
    margin: 0 10px; 
    text-decoration: none;
    color:black;
    background-color: white;
    opacity: 0.5;
}
}
