.reset-password {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @include xl {
        width: 100%;
        padding:100px
      }
    
      @include xxl {
        width: 100%;
        margin-top: 150px;
      }
    
      @include xxxl {
        width: 100%;
        margin-top: 150px;
      }

    .container {
        width: 375px;

        .topp-content {
            display: flex;
            justify-content: space-between;
    
            a {
                display: block;
                color: $color-dark-1;
                flex:0;
                        
            }
    
            .heading {
                color: $color-dark-1;
                font-size: 18px;
                font-weight: $font-weight-semibold;
                text-align: center;
                flex:1;
            }
        }
        .title {
            display: block;
            text-align: left;
            margin: 30px 0px;
            color: $color-dark-1;
        }
        .form {
            display: inline-block;  
            .input-group {
                position: relative;
    
                .input-label {  
                  position: absolute;   
                  top: 0.02rem; 
                  left: 1.3rem;
                  color:#626262;
                  background-color: #FFFFFF;
                }
    
                input {
                  width: 335px;
                  height: 2.8125rem;  // 45px
                  margin: 0.625rem;  // 10px
                  border: 0.09375rem solid $color-background;
                  border-radius: 22.5px !important;  
                }
            }
            .primary-btn {
                width: 335px;
                display: flex;
                text-decoration: none;
                align-items: center;
                justify-content: center;
            }
        }
    }
}